@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 1.5em;
	background-color: #FEF8F2;
}

header {
  	font-size: 20px;
 	width: 100%;
 	display: flex;
 	justify-content: flex-start;
 	align-items: center;
}

menu {
	padding-top: 5px;
	width: 80%
}

header a{
	text-decoration: none;
	display: block;
	float: left;
	padding: 20px;
}

input {
	float: right;
	padding: 5px 15px;
}

section {
	padding: 20px;
}

section a{
	background-color: #0085FF;
	color: white;
	padding: 10px 20px;
	text-decoration: none;
	float: left;
	margin-top: 1em;
}

div {
	display: block;
	float: left;
	width: 70%;
}

figure {
	margin-bottom: 5px;
}

img {
	width: 100%;
}

aside2 {
	padding: 20px;
}

footer {
	color: white;
	background-color: black;
    padding: 20px;
    text-align: center;
}

footer a{
	padding: 10px;
}

h1, h2, h3 {
	font-family: 'Noto Serif', serif;
	line-height: 1em;
}

h1 {
	font-size: 4em;
	color: #0085FF;
}

i {
	font-size: 30px;
	color: white;
}

#slogan {
	font-style: italic;
	font-size: 1.5em;
	margin-bottom: .5em;
}

#intro {
	background-image: url("../images/boardroom.jpg");
	background-size: cover;
	height: 50vh;
	background-repeat: no-repeat;
}

#logo {
	width: 80px;
}

#feature {
    padding: 20px;
}

.featureitem {
    padding: 20px;
    float: left;
    width: 33%;
}
.featureitem figure{
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	background-color: orange;
	position: relative;
	overflow: hidden;
}
.featureitem figure img{
	width: auto;
	height: 100%;
	position: absolute;
}

#recent1, #recent2, #recent3, #recent4 {
    padding: 20px;
    float: left;
    width: 25%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#search {
	position: relative;
}

.fa-search {
	position: absolute;
	right: 0;
	top: 5px;
	color: grey;
	font-size: 20px;
	padding-right: 5px;
}

@media only screen and (max-width: 985px) {
	body {
		font-size: 16px;
	}
	header menu {
		display: inline;
		float: left;
		margin: 10px 0;
	}
	header a {
		display: inline;
		float: center;
		padding: 10px 20px;
	}
	header div1 {
		display: inline;
		float:left;
	}
	div {
		width: 90%;
	}
	h1 {
		font-size: 3em;
	}
	#slogan {
		font-size: 1.2em;
	}
}

@media only screen and (max-width: 540px) {
	body {
		font-size: 14px;
	}
	section {
		display: none;
	}
	.featureitem {
    padding: 20px;
    float: left;
    width: 100%;
	}
	#recent1, #recent2, #recent3, #recent4 {
    padding: 20px;
    float: left;
    width: 50%;
}