@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	background-color: #FEF8F2;
}

header {
	display: inline;
	background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

main {
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

section {
	background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}

aside {
	background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}

img {
	max-width: 150px;
	max-height: 150px;
}

footer {
	position: fixed;
	right: 0;
	bottom: 0;
	width: 25%;
	text-align: right;
	color: white;
	background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}

h1, h2 {
	font-family: 'Noto Serif', serif;
}

h1 {
	font-size: 60px;
	color: #0085FF;
	margin: .5em 0;
}

a {
	text-decoration: none;
}

i {
	font-size: 30px;
	color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 20px;
  padding: 20px;
  width: 100%;
}

#slogan {
	font-style: italic;
}

#intro {
	background-image: url("../images/boardroom.jpg");
	background-size: cover;
	height: 90vh;
	background-repeat: no-repeat;
}

#logo {
	width: 80px;
}