* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1 {
	font-family: Helvetica, sans-serif;
	font-size: 60px;
	color: #0085FF;
}
a {
	text-decoration: none;
}
p {
	font-family: Arial, sans-serif;
}
#slogan {
	font-style: italic;
}
img {
	display: block;
	width: 100%;
}
body {
	background-color: #FEF8F2;
}